@model Booking.Business.Models.Dto.BookedFlightDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Booking</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDeparture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightDeparture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDestination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightDestination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightStopNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightStopNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightSeatNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightSeatNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfileFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfileFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfileEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserProfileEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookSeats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="Id" name="Id" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label class="control-label"></label>
                <input id="BookSeats" name="BookSeats" class="form-control" />
                <span validation-for="BookSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ReturnToFlights">Back to List</a>
</div>
